<form [formGroup]="formLogin" (ngSubmit)="logar()">
    <div class="grid mt-8">
        <div class="col-5 flex align-items-center justify-content-center">
            <div class="p-fluid">
                <div class="field">
                    <label for="email">Email</label>
                    <input formControlName="email" pInputText id="email" type="email" />
                </div>
                <div class="field">
                    <label for="senha">Senha</label>
                    <input formControlName="senha" pInputText id="senha" type="password" />
                </div>
                <button type="submit" pButton label="Login"></button>
            </div>
        </div>
        <div class="col-2">
            <p-divider layout="vertical">
                <b>OR</b>
            </p-divider>
        </div>
        <div class="col-5 flex align-items-center justify-content-center">
            <p-button [routerLink]="'/cadastrar-usuario'"  label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success"></p-button>
        </div>
    </div>
</form>