<p-card>
    <header>
        <section class="grid">
            <div class="col-3">
                <app-sidebar>
                </app-sidebar>
            </div>
    
            <div class="col-9">
                <textarea [autoResize]="true" placeholder="Criar post" rows="5" cols="70" pInputTextarea></textarea>
                <div class="mt-4">
                    <app-posts
                    *ngIf="userSeguindo"
                    [userSeguindo]="userSeguindo"
                    [indexUser]="indexUser"
                    ></app-posts>
                </div>
            </div>
        </section>
    </header>
</p-card>

